
body{
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

button{
  margin: 0.5em;
}

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

#title{
  background-color: #ff4c68;
  color: white;
  text-align: left;
}


.container-fluid{
  padding: 3% 15% 7%;
}

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: white;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features{
  padding: 7% 15%;
  position: relative;
}

.feature{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color: #ff4c68;
}

.feature-description{
  color: #8f8f8f;
  padding:5%;
}

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

#cta{
  padding: 7% 15%;
}

#footer{
  padding: 3% 11%;
}

.copyright{
  padding-top: 2%;
  color: #8f8f8f;
}

.copyright-icon{
  margin: 0 1%;
}

@media (max-width: 1028px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }

}
